<html>
<head>
<link rel="stylesheet" href="static/css/index.css"/>
<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">

{% extends "base.html" %}
{% block body %}
<body class="body">
<div class="header-container">
<img src="https://user-images.githubusercontent.com/26179770/106359099-693e3380-6336-11eb-8069-9e36f25de5ca.png"
                class="head-image"
                alt="HeaderImage"
            /><br>
<h1 style="margin-top:10px;">Music Recommendation</h1>
</div>
<form action="/" method="post">
<div class="wrapper"><br>

 <input type="search" class="search-input" name="sng" placeholder="Enter The Song"/><br><br><br>
  <input type="submit" class="button-text" value="GET RECOMMENDATION">
</div>
</form>
<div class="caption-text">
{% if song %}  
  <h2><b>Recommendations For The Song <span class="song-name">{{song}}<span></span></b></h2>
{% endif %}
</div>
<br>
  <div class="cards">
    {% for recommendation in new_recommendations %}
    <div class="card"> 
      <img src="{{url_for('static',filename='music.jpg')}}" alt="avatar" class="card-image">
      <div class="card-content">
          <p><b><u>{{recommendation}}</u></b></p>
      </div>
    </div> 
    {% endfor %}
  </div>
  
  {% endblock %}   
</body>
</html>